.comments-list{
    .comments-image{
        width: 50px;
        height: 50px;
    }
    .comments-image-col{
        text-align: center;
    }
    .comments-list-item{
        padding: 5px 0px 0px 0px;
    }
    .comments-content-col{
        padding:0px;
    }
    .comment-content-header{
        font-size: 18px;
        font-weight: bold;
    }
    .comment-content-text{
        font-size: 17px;
        text-align: justify;
        padding-right: 5px;
    }
    .comments-row{
        padding: 20px 50px 5px 30px;
    }
    @media (max-width: 575.98px) {
        .comments-image{
            width: 40px;
            height: 40px;
        } 
        .comments-row{
            padding: 10px 10px;
        }
        .comments-content-col{
            padding-left: 1px;
        }
        .comment-content-header{
            font-size: 15px;
            font-weight: bold;
        }
        .comment-content-text{
            font-size: 13px;
            padding-right: 10px;
        }
        .comment-time{
            position:relative;
            left: -15px;
            font-size: 13px;
        }
    }
}