@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.custom-posts {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    border: 1px solid #B3B6B7;
    cursor: pointer;
    .custom-posts-title{
        text-decoration: none;
        color: black;
        font-size: 30px; 
    }
    .custom-posts-text{
        max-height: 300px;
        overflow: hidden;
        text-align: justify;
    } 
}
.custom-posts:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}